@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


@font-face {
	font-family: 'Sf pro text';
	src: url(fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}

@font-face{
	font-family: 'SfBold';
	src: url(fonts/FontsFree-Net-SFProText-Bold-1.ttf);
}

@font-face{
	font-family: 'SfSemiBold';
	src: url(fonts/FontsFree-Net-SFProText-Semibold-1.ttf);
}

@font-face{
	font-family: 'SfMd';
	src: url(fonts/FontsFree-Net-SFProText-Medium-1.ttf);
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	height: 100vh;
	font-family: 'Sf pro text';
}


.container{
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.link a{
	color: #2997ff;
	font-family: 'Sf pro text';
	font-size: 21px;
}

.link a:hover{
	text-decoration: underline;
}

.link a i {
	transform: rotate(-90deg);
	font-size: 14px;
	margin-left: 5px;
}

.header{
	background-color: rgba(0, 0, 0, 0.92);
	height: 44px;
	font-family: 'Sf pro text', sans-serif;
}

.header-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 22px;
}

.header-inner a{
	color: #f5f5f7;
	font-size: 12px;
	opacity: 0.8;
}

.header-inner i,
.header-inner span {
	color: rgb(245, 245, 247);
	font-size: 18px;
	opacity: 0.7;
}

.header-inner i,
.header-inner span,
.header-inner a:hover{
	opacity: 1;
}

/* ============ MAIN ============== */

main{
	height: 1200px;
}

/* Unicef */

.unicef{
	height: 72px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f5f5f7;
}

.unicef-inner{
	display: flex;
	padding: 20px 0;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.unicef-inner a{
	font-size: 14px;
	margin-left: 14px;
	color: #06c;
	position: relative;
}

.unicef-inner .iconify{
	transform:translate(0, 5px)
}

/* ==== UNIT ==== */

.unit{
	height: 623px;
	background-color: #000;
	color: #fff;
}

.unit-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 45px;
}
.unit-inner h1{
	font-size: 54px;
	font-family: 'SfMd', sans-serif;
	letter-spacing: -3px;
}

.unit-subtitle{
	padding-top: 10px;
	display: flex;
}

.unit-subtitle h3{
	font-size: 25px;
	font-weight: 400;
}

.unit-subtitle img{
	transform: translate(0, -15px);
}

.unit-link{
	padding-top: 10px;
}

.unit-link a{
	color: #2997ff;
	letter-spacing: -1px;
}

.unit-link a:first-child{
	margin-right: 35px;
}

.unit-img{
	margin-top: 30px;
}

/* === Mac === */

.mac{
	height: 632px;
	background: #fbfbfd ;
}

.mac-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.mac-text{
	text-align: center;
}

.mac-text h1{
	font-size: 52px;
	font-family: 'SfMd', sans-serif;
}

.mac-text h3{
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 15px;
}

.mac-text h3 img{
	transform: translate(0, 10px);
}

.mac-text span{
	color: #86868b;
	font-size: 18px;
}

.mac-text .mac-link a{
	color:#06c;
}

/* == Save Section == */

.save{
	height: 636px;
	background-color: rgb(245, 245, 245);
}

.save-inner{
	text-align: center;
	padding-top: 35px;
	color: #1d1d1f;
}

.save-text h2{
	font-size: 52px;
}

.save-text h2 span{
	color: #ca2166;
}

.save-text p{
	font-size: 25px;
	margin-bottom: 10px;
	font-family: 'Sf pro text';
}

.save-link{
	margin-bottom: 20px;
}

.save-link a{
	color: #06c;
}
